.cls{
    width: 400px;
    margin-left: 40%;
    margin-top: 5%;
}

.btn{
    height: 100px;
    width: 100px;
    background-color: white;
    border-color: whitesmoke;
    border: 0px;
    font-size: 40px;
}

.key{
    height: 500px;
    width:  400px;
    background-color: white;
}

.out{
    width: 394px;
    height: 200px;
    background-color: black;
    color: white;  
    font-size: 40px;
}

body{
    background-color: palegreen;
}

.operator_btn{
    height: 70px;
    width: 70px;
    background-color: white;
    border-color: whitesmoke;
    border: 0px;
    font-size: 40px;
    color: orangered;   
}

.btn,.operator_btn:active{
    transform: scale(1);
}

.btn,.operator_btn:hover{
    cursor: pointer;
}

.star_btn{
    height: 70px;
    width: 70px;
    margin-left: 30px;
    background-color: white;
    border-color: whitesmoke;
    border: 0px;
    font-size: 40px;
    color: orangered;
}

.heading{
    font-size: 400%;
    font-weight: 600;
    position: absolute;
    left: 40%;
    top: 2%;
    text-shadow: 3px 3px #ff3300da;
    
}

.container{
    position: absolute;
    left: 42%;
    top: 15%;
}

 /* for small screen */

@media (max-width: 500px){

.container{
    position: absolute;
    left: 7%;
    top: 25%;
}

.heading{
    font-size: 400%;
    font-weight: 600;
    position: absolute;
    left: 3%;
    top: 5%;
}

}